<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TWIF-AL</title>
</head>
<body>
    <h1>TWIF-AL</h1>
    <p>O <b>TWIF-AL</b> disponibiliza uma timeline alternativa do Twitter com base nos Tweets em alta na rede e pessosa
        que você segue. A timeline alternativa é gerada através do altoritmo de <b>Pagerank</b> tomando como base os
        tweets com os quais as pessoas que você segue estão interagindo.</p>
    <p>Conecte-se para acessar sua timeline alternativa <a href="/login">here</a></p>
</body>
</html>